{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{%block body%}

<div class="container my-5">

    <h1>Classification</h1>

    <div class="card my-5 col-sm-6" style="width: 18rem; margin-right: 60px; padding: 0%;">
        <img src="static/images/heart.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Heart Attack Prediction</h5>
            <a href="/heart" class="btn btn-outline-dark">Predict</a>
        </div>
    </div>



</div>
</div>
{%endblock body%}